
GEMINI_API_KEY=''
GITLAB_TOKEN=''
COPILOT_API_KEY=''

return {
  suggestion = { name = 'supermaven', key = nil },
  --suggestion = { name = 'gemini', key = GEMINI_API_KEY },
  chat = { name = 'gemini', key = GEMINI_API_KEY }
  --suggestion = { name = 'copilot', key = COPILOT_API_KEY }
  --chat = { name = 'copilot', key = COPILOT_API_KEY }
}
